﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="Profile.aspx.cs" Inherits="University.Users.Profile" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Label ID="lbl_profile_name" runat="server" Text="Profile"></asp:Label>
    <br />
    <br />
    <br />
    <asp:Label ID="lbl_profile_data" runat="server"></asp:Label>
    <br />
<br />
<br />
<asp:Button ID="btn_signOut" runat="server" OnClick="btn_signOut_Click" Text="Sign Out" />
</asp:Content>
