﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Master.Master" AutoEventWireup="true" CodeBehind="home.aspx.cs" Inherits="University.home" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Label ID="lbl_home" runat="server" Text="HOME"></asp:Label>
&nbsp;&nbsp;&nbsp;
<asp:Button ID="btn_signIn" runat="server" OnClick="btn_signIn_Click" PostBackUrl="~/login.aspx" Text="Sign in" />
</asp:Content>
